<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
  <meta http-equiv="Content-Language" content="pl" />
  <meta name="Keywords" content="słowa, kluczowe, oddzielone, przecinkami" />
  <meta name="Description" content="krótki opis zawartości strony" />
  <meta name="Robots" content="ALL" />
  <meta name="Author" content="flankerds.com" />
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>Szablonik flankerds.com</title>
</head>

<body>

<div id="kontener">
<div id="logo"></div>
<div id="menu">
 <a href="#">Strona Główna</a>
 <a href="#">Inna Podstrona</a>
 <a href="#">Inna Podstrona</a>
 <a href="#">Inna Podstrona</a>
</div>
<div id="tresc">
<h2>Darmowy Szablon</h2>
       <p>Ten szablon jest darmowy. Możesz go dowolnie edytować i rozpowszechniać. Jedynym warunkiem jego użytkowania jest informacja o autorze strony i pozostawienie linku zwrotnego w stopce.</p>

<h2>Tytuł</h2>
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis viverra elementum enim. Mauris a metus. Donec vulputate, sapien vitae eleifend ullamcorper.</p>
      <p>Aenean pretium. Pellentesque a nisi eu diam pretium rhoncus. In hac habitasse platea dictumst. Vestibulum consequat, enim vitae bibendum hendrerit, metus dui vestibulum sapien, a tempor sem nisl a lorem. Vestibulum orci elit, tincidunt ac, convallis in, euismod quis, dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vestibulum. Praesent elementum eros at dolor. Sed imperdiet metus vitae metus. Suspendisse vitae dolor sit amet nulla sodales vehicula.</p>
</div>
</div>

<div id="stopka">
<div id="copyright">Copyright by Ty</div>
<div id="design">Design by <a href="http://www.flankerds.com" target="_blank">flankerds.com</a></div>
</div>    
</body>
</html>
