<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
    <meta http-equiv="Content-Language" content="pl" />
    <meta name="Keywords" content="gry, online, reversi, zillaportal" />
    <meta name="Description" content="Największa baza gier online" />
    <meta name="Robots" content="ALL" />
    <meta name="Author" content="flankerds.com" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <title>Gamezilla - twoje granie online</title>
</head>

<body>

    <div id="kontener">
        <div id="logo"></div>
        <div id="menu">    
            {% block menu %}
            <a href="#">Strona Glowna</a>
            {% endblock %}
        </div>
        
        <div id="tresc">
            {% block content %}

            Strona nie istnieje, spieprzaj dziadu.

            {% endblock %}
        </div>
    </div>

    <div id="stopka">
        <div id="copyright">Copyright by ZiillaTeam</div>
        <div id="design">Design by <a href="http://www.flankerds.com" target="_blank">flankerds.com</a></div>
    </div>    
</body>
</html>
