
{% extends "index.html" %}
{% load i18n %}
 
 
{% block content %}

{% if   list.count != 0 %}
	<center><table border="0" width="100%" style="height: 100px"> 
		<tr> 
			<td align="center" valign="middle" width="20%"><b><font size="2px"><b>Gra</b></font></b></td>
			<td align="center" valign="middle" width="15%"><font size="2px"><b>Status gry</b></font></td> 
			<td align="center" valign="middle" width="15%"><font size="2px"><b>Właściciel</b></font></td>	
			<td align="center" valign="middle" width="10%"><font size="2px"><b>Utworzona</b></font></td> 
			<td align="center" valign="middle" width="10%"><font size="2px"><b>Rozpoczęta</b></font></td>
			<td align="center" valign="middle" width="10%"><font size="2px"><b>Zakończona</b></font></td> 
			<td align="center" valign="middle" width="20%"><font size="2px"><b>Gracze</b></font></td>		
		</tr> 
	{% for active in list %}
		<tr> 
			<td align="center" width="20%"><a href="/media/{{ active.game.screenshot }}" target="_blank"><img src="/media/{{ active.game.screenshot }}" width="50" height="50"></a><br></td>
			<td align="center" width="15%"><font size="2px">{% if active.status == "S" %}<font color="green">{% else %}{% if active.status == "W" %}<font color="red">{% endif %}{% endif %}{{ active.get_status_display }}</font></font></td> 
			<td align="center" width="15%"><font size="2px"><a href="/profile/user/{{ active.owner }}">{{ active.owner }}</a></font></td>	
			<td align="center" width="10%"><font size="2px">{{ active.created_at }}</font></td> 
			<td align="center" width="10%"><font size="2px">{{ active.started_at }}</font></td>
			<td align="center" width="10%"><font size="2px">{{ active.end_at }}</font></td> 
			<td align="center" width="20%"><font size="2px">
			{% if  user in active.player.all.count != 0 %}
				{% for user in active.player.all %}			
					{% if active.winner = user %}
						<a href="/profile/user/{{ user.username }}">{{ user.username }} (<span style="color: green">*</span>)</a> <br>
					{% else %}
						<a href="/profile/user/{{ user.username }}">{{ user.username }}</a> <br>
					{% endif %}
				{% endfor %}
			{% else %}
				<i>brak</i>
			{% endif %}			
			</font></td>		
		</tr> 
	{% endfor %}
{% else %}
	<i>brak</i>
{% endif %}			
</table></center> 

{% endblock %}
