
{% extends "index.html" %}
{% load i18n %}
 
 
{% block content %}

<center><table border="1" width="100%" style="height: 100px"> 
{% for active in list %}
	<tr> 
		<td align="center" valign="middle" width="20%"><b><font size="4">Nazwa gry</font></b></td>
		<td align="center" valign="middle" width="15%"><font size="2px">Status gry</font></td> 
		<td align="center" valign="middle" width="15%"><font size="2px">Właściciel</font></td>	
		<td align="center" valign="middle" width="10%"><font size="2px">Utworzona</font></td> 
		<td align="center" valign="middle" width="10%"><font size="2px">Rozpoczęta</font></td>
		<td align="center" valign="middle" width="10%"><font size="2px">Zakończona</font></td> 
		<td align="center" valign="middle" width="20%"><font size="2px">Gracze</font></td>		
	</tr> 
	<tr> 
		<td align="center" width="20%"><b><font size="4">{{ active.game }}</font></b><br><br>
		<a href="/media/{{ active.game.screenshot }}" target="_blank"><img src="/media/{{ active.game.screenshot }}" width="50" height="50"></a><br></td>
		<td align="center" width="15%"><font size="2px">{{ active.get_status_display }}</font></td> 
		<td align="center" width="15%"><font size="2px">{{ active.owner }}</font></td>	
		<td align="center" width="10%"><font size="2px">{{ active.created_at }}</font></td> 
		<td align="center" width="10%"><font size="2px">{{ active.started_at }}</font></td>
		<td align="center" width="10%"><font size="2px">{{ active.end_at }}</font></td> 
		<td align="center" widht="20%"><font size="2px">{{ active.playing_game }}</font></td>		
	</tr> 
{% endfor %}
</table></center> 
{% endblock %}
