{% extends "index.html" %}
{% load i18n %}


{% block content %}
<div>
	<img src="{{user.get_profile.get_avatar}}" /></div><br />
<!--<div>
	<form method="POST" enctype="multipart/form-data" action="/profile/" >
	{{ uploadavatar.as_p }}
	{% csrf_token %}
	<p><input type="submit" value="Wyślij"  action="/profile/" /></p>
	</form>
</div>
-->
<br /><br />
<p>
<div>
	<h3>Użytkownik</h3><br /></div>
	<b>Nazwa użytkownik: </b>{{user.username}}<br />
	<b>email: </b>{{user.email}}<br />
	<b>imię: </b>{{user.first_name}}<br />
	<b>nazwisko: </b>{{user.last_name}}<br />
</p>

<p>
	<h3>Podsumowanie aktywności</h3><br />
	{% if  user.get_profile.count_activities != 0 %}

		{% for a in user.get_profile.get_activities %}
			<div>{{a.date}} - {{a.desc}}</div>
		{% endfor %}
	{% else %}	
	<i>brak</i>
	{% endif %}	
</p>
</p>


	<h3>Oczekujące zaproszenia</h3><br />
{% if  user.get_profile.count_invitations != 0 %}
<p>
	{% for i in user.get_profile.get_invitations %}
		<table><tr>
		<td><img src="{{i.inviter.get_profile.avatar_image}}" /></td>
		<td>
			<h4><a href ="/profile/user/{{i.inviter.user.username}}">{{i.inviter.user.username}}</a></h4><br />
			<i>{{i.inviter.user.first_name}} {{i.inviter.user.first_last}}</i>
		</td>
		<td style="vertical-align: middle;">
			<a style="color: green;" href="/profile/invitation/{{i.id}}/accept" >Akceptuj</a>
			<a style="color: red;" href="/profile/invitation/{{i.id}}/decline" >Odrzuć</a><br />
		</td>		
		</tr></table>
	{% endfor %}
</p>
{% else %}
<i>brak</i>
{% endif %}	

<p>
	<h3>Znajomi</h3><br />

{% if  user.get_profile.count_friends != 0 %}

	{% for i in user.get_profile.get_friends %}
		<table><tr>
		<td><img src="{{i.inviter.get_avatar}}" /></td>
		<td>
			<h4><a href ="/profile/user/{{i.inviter.user.username}}">{{i.inviter.user.username}}</a></h4><br />
			<i>{{i.inviter.user.first_name}} {{i.inviter.user.first_last}}</i>
		</td>
		<td style="vertical-align: middle;">
		</td>	
		<td style="vertical-align: middle;">
			<a style="color: purple;" href="/profile/invitation/{{i.id}}/delete" >Usuń</a>
		</td>			
		</tr></table>
	{% endfor %}
{% endif %}
{% if user.get_profile.count_friends == 0 %}
<i>brak</i>
{% endif %}	
</p>

<p>
	<h3>Ranking</h3><br />

	{% for i in user.ranging_positions.all %}
		<table><tr>
		<td><img src="{{i.game.screenshot}}" style="height: 75px; width: 75px;" /></td>
		<td>
			<h4><a href ="/profile/user/{{i.player.username}}">{{i.inviter.user.username}}</a></h4><br />
			<i>{{i.inviter.user.first_name}} {{i.inviter.user.first_last}}</i>
		</td>
		<td style="vertical-align: middle;">
			<span style="font-size: 16px; font-weight: bold;">{{i.score}} (W: {{i.win}}, P: {{i.lost}}, R: {{i.draw}})</span><br />
			<a href="/game/user/{{user.username}}/game/{{i.game.id}}">lista gier</a>
		</td>				
		</tr></table>
	{% endfor %}

</p>
{% endblock %}
