{% extends "index.html" %}
{% load i18n %}


{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}

<table>
	<tr>
		<td><label for="id_username" class="required">{% trans 'Username:' %}</label> </td>
		<td>{{ form.username }}{% if not form.this_is_the_login_form.errors %}<br />{{ form.username.errors }}{% endif %}</td>
	</tr>
	<tr>
		<td> <label for="id_password" class="required">{% trans 'Password:' %}</label> </td>
		<td>{{ form.password }}{% if not form.this_is_the_login_form.errors %}<br />{{ form.password.errors }}{% endif %}</td>
	</tr>
</table>
<input type="hidden" name="this_is_the_login_form" value="1" />
<input type="hidden" name="next" value="{{ next }}" />
 
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />

</form>

{% endblock %}
